*{
    box-sizing: border-box;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
[class*="col-"] {
    float: left;

    border: 1px solid gray;
}

.row:after {
    content: '';
    clear: both;
    display: block;
}
.wrapper {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/*.header-top-height { height:200px;}*/
.header-height { height:200px;}
.menu-height { height:50px;}
.content-height { height:600px;}
.big-footer-top { height:250px;}
.footer-height { height:40px;}

.main-ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.main-ul li {
    float: left;
    width: 120px;
    border: 1px solid gray;
}
.main-ul li a {
    border: 1px solid;
    display: block;
    text-decoration: none;
    text-align: center;
    height:47px;
    padding-top: 15px;
    background-color: black;
    color: white;
    transition: 1s;

}
.main-ul li a:hover{
    background-color: white;
    color: #000;
}
.div-1 {
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 50px 0 0 50px;
    border-radius: 100px;
    float: left;
}
.div-2 {
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 50px 0 0 50px;
    border-radius: 100px 100px 0px 0px;
    float: left;
}
.div-3 {
    height: 100px;
    width: 200px;
    background-color: red;
    margin: 50px 0 0 50px;
    border-radius: 0px 0px 100px 100px;
    float: left;
}
.div-4 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px 0 0 50px;
    border-radius: 0px 0px 0px 100px;
    float: left;
}
.div-5 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px 0 0 8px;
    border-radius: 0px 0px 100px 0px;
    float: left;
}
.div-6 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px 0 0 8px;
    border-radius: 100px 0px 0px 0px;
    float: left;
}
.div-7 {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px 0 0 8px;
    border-radius: 0px 100px 0px 0px;
    float: left;
}
.div-8{
    height: 200px;
    width: 15px;
    background-color: red;
    margin: 300px 0 0 70px;
    transform: skew(-30deg);


}
.div-9{
    height: 200px;
    width: 15px;
    background-color: red;
    margin: -200px 100px 200px 195px;
    transform: skew(30deg);


}

.div-10{
    height: 10px;
    width: 85px;
    background-color: red;
    margin: -225px 0 0 95px;
    transform: skew(50deg);


}
/*transform: skew(30deg);*/
/*transform: skewY(25deg);*/
/*transform: skewY(25deg);*/


/*!*border-radius: 100px 0px 0px 0px;*!*/
/*!*border-radius: 100px 100px 0px 0px;*!*/
/*float: left;*/

/*}*/
/*.div-two{*/
/*height: 200px;*/
/*width: 200px;*/
/*background-color: red;*/
/*margin: 50px 0 0 5px;*/
/*transform: skewY(-25deg);*/
/*float: left;*/


/*}*/

/*.div-one{*/
/*height: 200px;*/
/*width: 200px;*/
/*background-color: red;*/
/*margin: 50px 0 0 50px;*/
/*!*transform: skew(30deg);*!*/
/*!*transform: skewY(25deg);*!*/
/*transform: skewY(25deg);*/

/*!*border-radius: 100px;*!*/
/*!*border-radius: 100px 0px 0px 0px;*!*/
/*!*border-radius: 100px 100px 0px 0px;*!*/
/*float: left;*/

/*}*/
/*.div-two{*/
/*height: 200px;*/
/*width: 200px;*/
/*background-color: red;*/
/*margin: 50px 0 0 5px;*/
/*transform: skewY(-25deg);*/
/*float: left;*/
/**/
/*}*/
/*.div-one{*/
/*height: 200px;*/
/*width: 15px;*/
/*background-color: red;*/
/*margin: 60px 0 0 70px;*/
/*transform: skew(-30deg);*/
/*float: left;*/

/*}*/
/*.div-two{*/
/*height: 200px;*/
/*width: 15px;*/
/*background-color: red;*/
/*margin: 60px 0 0 100px;*/
/*transform: skew(30deg);*/
/*float: left;*/

/*}*/

/*.div-three{*/
/*height: 10px;*/
/*width: 85px;*/
/*background-color: red;*/
/*margin: 125px 0 0 95px;*/
/*transform: skew(50deg);*/


/*}*/


/*.div-one {*/
/*height: 200px;*/
/*width: 200px;*/
/*!*background-color: red;*!*/
/*margin: 50px 0 0 50px;*/
/*!*border-left: 1px solid red;*!*/
/*border: 10px dotted red;*/
/*!*transform: skew(-30deg);*!*/
/*}*/
/*.div-two {*/
/*height: 200px;*/
/*width: 200px;*/
/*!*background-color: red;*!*/
/*margin: 50px 0 0 50px;*/
/*!*border-left: 1px solid red;*!*/
/*border: 10px outset red;*/
/*!*transform: skew(-30deg);*!*/
/*}*/

/*.div-one {*/
    /*height: 200px;*/
    /*width: 200px;*/
    /*!*background-color: red;*!*/
    /*!*background-color: green;*!*/
    /*margin: 50px 0 0 50px;*/
    /*float: left;*/
    /*!*background: linear-gradient(to left, red, green, gray,orange,deeppink);*!*/
    /*background: linear-gradient(to right, red, green, gray,orange,deeppink);*/
    /*!*transform: scale(1);*!*/
    /*!*transform: rotateX(0deg);*!*/
    /*transform: rotateY(0deg);*/
    /*transition: 1s;*/
/*}*/
/*.div-one:hover{*/
    /*!*transform: scale(1.5);*!*/
    /*!*transform: rotateX(360deg);*!*/
    /*transform: rotateY(90deg);*/
/*}*/
/*.div-two {*/
    /*height: 200px;*/
    /*width: 400px;*/
    /*!*background-color: red;*!*/
    /*!*background-color: green;*!*/
    /*margin: 50px 0 0 50px;*/
    /*float: left;*/
    /*!*background: linear-gradient(to left, red, green, gray,orange,deeppink);*!*/
    /*!*background: linear-gradient(to right, red, green, gray,orange,deeppink);*!*/
    /*animation: bitm;*/
    /*animation-duration: 2s;*/
    /*animation-iteration-count: infinite;*/
    /*!*transform: scale(1);*!*/
    /*!*transform: rotateX(0deg);*!*/
    /*!*transform: rotateY(0deg);*!*/
    /*!*transition: 1s;*!*/

/*}*/
/*@keyframes bitm {*/
    /*0%{background-color: green}*/
    /*25%{background-color: hotpink}*/
    /*50%{background-color: blue}*/
    /*75%{background-color: red}*/
    /*100%{background-color: yellow}*/

    /*0%{background-color: green; width: 200px}*/
    /*50%{background-color: blue; width: 500px}*/
    /*100%{background-color: yellow, width: 200px}*/

    /*0%{background-color: green; width: 200px; height: 200px}*/
    /*25%{background-color: hotpink; width: 500px; height: 200px}*/
    /*50%{background-color: blue; width: 200px; height: 200px}*/
    /*75%{background-color: red; height: 200px; height: 400px}*/
    /*100%{background-color: yellow; height: 200px; height: 200px}*/

    /*0%{background-color: green; transform: rotate(0deg) scale(1); }*/
    /*50%{background-color: blue; transform: rotate(360deg) scale(1.5);}*/
    /*100%{background-color: yellow; transform: rotate(0deg) scale(1);}*/

    /*0%{background: url("../images/SP6.jpg") }*/
    /*25%{background: url("../images/logo2.jpg");  }*/
    /*50%{background: url("../images/mission_statement.png");  }*/
    /*75%{background: url("../images/logo1.jpg");  }*/
    /*100%{background: url("../images/img.jpg");  }*/
/*}*/
/*.div-two:hover{*/
    /*!*transform: scale(1.5);*!*/
    /*!*transform: rotateX(360deg);*!*/
    /*!*transform: rotateY(360deg);*!*/
/*}*/

